html{
  overflow:hidden;
}
body {
  background-color: red;
}
input[type=text],
input[type=password],
textarea{
  border: 1px solid #7408AF;
  border-radius: 5px;
  padding:10px;
  width:80%;        
}
#id_password{
  width:500px;
}
.button{
  color: #fff;
}