<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% extends 'main.html' %}
    {% load static %}
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <title>Home</title>
  </head>
  <body>
    {% block content %}

  <div class="container">

      <form method="GET">
        {% csrf_token %}
        <div class="row mb-4 row-cols-auto d-flex justify-content-center">
          <div class="col">
            {% if filter_button_pressed == "ALL" %}
            <a href="{% url "home" "ALL" %}"type="submit" class="btn btn-outline-light text-primary active" value="All" name="filter_button">ALL</a>
            {% else %}
            <a href="{% url "home" "ALL" %}"type="submit" class="btn btn-outline-light" value="All" name="filter_button">ALL</a>
            {% endif %}
          </div>
          <div class="col">
            {% if filter_button_pressed == "Sports" %}
            <a href="{% url "home" "Sports" %}" type="submit" class="btn btn-outline-warning text-light active" value="Sports" name="filter_button"><i class="bi bi-dribbble"></i></a>
            {% else %}
            <a href="{% url "home" "Sports" %}" type="submit" class="btn btn-outline-light" value="Sports" name="filter_button"><i class="bi bi-dribbble"></i></a>
            {% endif %}          
          </div>
          <div class="col">
            {% if filter_button_pressed == "Politics" %}
            <a href="{% url "home" "Politics" %}" type="submit" class="btn btn-outline-secondary active" value="Politics" name="filter_button"><i class="bi bi-card-text"></i></a>
            {% else %}
            <a href="{% url "home" "Politics" %}" type="submit" class="btn btn-outline-light" value="Politics" name="filter_button"><i class="bi bi-card-text"></i></a>
            {% endif %}    
          </div>
          <div class="col">
            {% if filter_button_pressed == "Gaming" %}
            <a href="{% url "home" "Gaming" %}" type="submit" class="btn btn-outline-danger active" value="Gaming" name="filter_button"><i class="bi bi-controller"></i></a>
            {% else %}
            <a href="{% url "home" "Gaming" %}" type="submit" class="btn btn-outline-light" value="Gaming" name="filter_button"><i class="bi bi-controller"></i></a>
            {% endif %}    
          </div>
          <div class="col">
            {% if filter_button_pressed == "Music" %}
            <a href="{% url "home" "Music" %}" type="submit" class="btn btn-outline-info text-light active" value="Music" name="filter_button"><i class="bi bi-music-note-beamed"></i></a>
            {% else %}
            <a href="{% url "home" "Music" %}" type="submit" class="btn btn-outline-light" value="Music" name="filter_button"><i class="bi bi-music-note-beamed"></i></a>
            {% endif %}    
          </div>
          <div class="col">
            {% if filter_button_pressed == "Health" %}
            <a href="{% url "home" "Health" %}" type="submit" class="btn btn-outline-success active" value="Health" name="filter_button"><i class="bi bi-activity"></i></a>
            {% else %}
            <a href="{% url "home" "Health" %}" type="submit" class="btn btn-outline-light" value="Health" name="filter_button"><i class="bi bi-activity"></i></a>
            {% endif %}     
          </div>
        </div>
      </form>

      {% for poll in polls %} 
        {% if forloop.counter0|divisibleby:3 %} 
        <div class="row ">
          {% endif %}
        <div class="col p-2 d-flex justify-content-center">
          <div class="card shadow-lg mb-5 bg-body rounded" style="width:85% ;height:auto;">
            <div class="card-body">

              <!-- delete button -->
              <a href="{% url 'poll_delete' poll.pk filter_button_pressed %}" id="delete" class="rounded-circle text-decoration-none float-end text-danger text-opacity-75 fs-3 fw-bold" style="margin-top:-10px;" id="delete_button" name="delete_button">&#215;</a>
              
              <a
              href="{% url 'poll_vote' poll.pk %}"
              class="text-decoration-none text-center"
              >

              <!-- poll image -->
              <img src="{% static 'images\poll.png' %}" class="card-img-top" alt="..." style="background-size:cover;width:45%;margin-left: 30%;">
              
              <h5 class="card-title h-1 pollText" style="text-overflow: ellipsis;">{{ poll.question }}</h5>
              </a>
              {% if poll.genre == "p" %}
              <a
                href="{% url 'poll_vote' poll.pk %}"
                class="text-decoration-none text-center"
              >
               <h5><span class="badge badge-pill bg-secondary"><i class="bi bi-card-text"></i> Politics</span></h5>
              </a>
              {% endif %}
              {% if poll.genre == "s" %}
              <a
                href="{% url 'poll_vote' poll.pk %}"
                class="text-decoration-none text-center"
              >
               <h5><span class="badge badge-pill bg-warning "><i class="bi bi-dribbble"></i> Sports</span></h5>
              </a>
              {% endif %}
              {% if poll.genre == "g" %}
              <a
                href="{% url 'poll_vote' poll.pk %}"
                class="text-decoration-none text-center"
              >
               <h5><span class="badge badge-pill bg-danger"><i class="bi bi-controller"></i> Gaming</i></span></h5>
              </a>
              {% endif %}
              {% if poll.genre == "h" %}
              <a
                href="{% url 'poll_vote' poll.pk %}"
                class="text-decoration-none text-center"
              >
               <h5><span class="badge badge-pill bg-success"><i class="bi bi-activity"></i> Health</span></h5>
              </a>
              {% endif %}
              {% if poll.genre == "m" %}
              <a
                href="{% url 'poll_vote' poll.pk %}"
                class="text-decoration-none text-center"
              >
               <h5><span class="badge badge-pill bg-info"><i class="bi bi-music-note-beamed"></i> Music</span></h5>
              </a>
              {% endif %}
            </div>
          </div>
        </div>
        {% if forloop.counter|divisibleby:3 or forloop.last %}
      </div>
      {% endif %}
      {% endfor %}

      
      <!-- carousel -->
      
      <!-- javascript bootstrap -->
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
      
      <div id="carouselControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">

          {% for question in questions %}
            {% if forloop.counter0|divisibleby:3 %}
              <div class="carousel-item {% if forloop.first %}active{% endif %}">
              <div class="row">
            {% endif %}

              <div class="col d-flex justify-content-center" style="margin-top:50px;">
                <div class="card shadow-lg p-3 mb-5" style="width:18rem;height:87%;">
                  <a href="{% url 'question_answer' question.pk %}" class="text-decoration-none text-dark">
                    <img src="{% static 'images/q&a.png' %}" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title h-1 questionText " style="text-overflow: ellipsis;text-align: center;" >{{ question.question }}</h5>
                    </div>
                  </a>
                </div>
              </div>

            {% if forloop.counter|divisibleby:3 or forloop.last %}
              </div>
              </div>
            {% endif %}
          {% endfor %}

        </div>
        <button class="carousel-control-prev" style="width:50px;" type="button" data-bs-target="#carouselControls" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" style="width:50px;" type="button" data-bs-target="#carouselControls" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>

      <!-- end carousel -->
      
    </div>
    <!-- end big container 1 -->    

    <!-- container suggestions --> 
    <div class="container shadow-lg bg-body rounded" style="width:75%;border-radius: 25px;">
      
      <div class="row" style="overflow:hidden;">
        <div class="col">
          <img src="{% static 'images/suggestion_picture.jpg' %}" 
            class="rounded" style="width:100%;height:100%" alt="">
        </div>

        <div class="col rounded" style="overflow:hidden;margin-left:-13px;background-color:white">
          <div class="row" style="padding:17%;">
            <a href="{% url "poll_suggestion" %}" name=""  id="" class="btn btn-primary rounded-pill" role="button" style="padding:4%;font-size:125%;">
              Suggest a poll
              </a>
          </div>
          
          <div class="row"style="padding:17%">
            <a href="{% url 'question_suggestion' %}" name=""  id="" class="btn btn-success rounded-pill" role="button" style="padding:4%;font-size:125E%;">
              Suggest a question
                </a>
          </div>
        </div>

      </div>
    </div>
      <!-- end container suggestions --> 
    
  
    {% comment %} footer {% endcomment %}
    <div class="" style="height:300px">

    </div>
    <script src="{% static "javascript/cleaning.js" %}"></script>
    {% endblock content %}
</body>
</html>
