<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    {% extends 'main.html' %}
    {% load static %}
</head>
<body>
    {% block content %}
    <div class="container bg_light" style="width:77%;margin-top:5%">
        <div class="card " style="width: 100%;">
            <div class="col d-flex justify-content-center">
                <img src="{% static 'images\covers\cover7.jpg' %}" class="card-img-top bg-light" style="height:50vh;width:70%;" alt="...">
            </div>

            <div class="card-body little-profile text-center">

                <div style="margin-top:-150px">

                  {% if user.profile_picture_number == "['1']" %}
                    <img src="{% static 'images\avatars\men_avatar_1.png' %}" alt="avatar" width="25%" height="25%" />
                  {% elif user.profile_picture_number == "['2']" %}
                    <img src="{% static 'images\avatars\men_avatar_2.png' %}" alt="avatar" width="25%" height="25%" />
                  {% elif user.profile_picture_number == "['3']" %}
                    <img src="{% static 'images\avatars\men_avatar_3.png' %}" alt="avatar" width="25%" height="25%" />
                  {% elif user.profile_picture_number == "['4']" %}
                    <img src="{% static 'images\avatars\women_avatar_1.png' %}" alt="avatar" width="25%" height="25%" />
                  {% elif user.profile_picture_number == "['5']" %}
                    <img src="{% static 'images\avatars\women_avatar_2.png' %}" alt="avatar" width="25%" height="25%" />
                  {% elif user.profile_picture_number == "['6']" %}
                    <img src="{% static 'images\avatars\women_avatar_3.png' %}" alt="avatar" width="25%" height="25%" />
                  {% endif %}
                  
                </div>

              </div>

            <div class="card-body ">
                <div class="col d-flex justify-content-center">
                    <h1 class="card-title text-primary">{{ user.username }}</h1>
                </div>
                <div class="col d-flex justify-content-center">
                    <p class="card-text ">{{ user.started_date }}</p>
                </div>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item d-flex justify-content-center">
                <div class="row row-cols-auto fs-3">
                    <div class="col">
                        <i class="bi bi-dribbble text-warning"></i>
                        {{ sports }}
                    </div>
                    <div class="col">
                        <i class="bi bi-card-text text-dark"></i>
                        {{ politics }}
                    </div>
                    <div class="col">
                        <i class="bi bi-controller text-danger"></i>
                        {{ gaming }}
                    </div>
                    <div class="col">
                        <i class="bi bi-music-note-beamed text-info"></i>
                        {{ music }}
                    </div>
                    <div class="col">
                        <i class="bi bi-activity text-success"></i>
                        {{ health }}
                    </div>
                </div>
              </li>
              <li class="list-group-item d-flex justify-content-center">
                <div class="row row-cols-auto fs-4">
                    <div class="col">
                        <i class="bi bi-question-circle"></i>
                        {{ answered_questions_number }}
                    </div>
                </div>
              </li>
            </ul>
            <div class="card-footer" style="height:5vh">
              
            </div>
          </div>
    </div>
    {% endblock content %}
</body>
</html>