<!DOCTYPE html>
<html lang="en">
  <head>
    {% extends 'main.html' %} {% load static %} {% load crispy_forms_tags %}
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register</title>
  </head>
  <body>
    {% block content %}

    <div class="container" style="overflow:hidden">
      <div class="row">
        <div class="col rounded" style="background-color:white">
          <img
            src="{% static 'images/registre.png' %}"
            class="p-3"
            style="width:100%;margin-top:5%"
            alt=""
          />
        </div>
        <div class="col rounded" style="background-color:white">
          <form method="POST">
            {% csrf_token %}

            <div class="form-row" style="margin-top: 10%">
              <div class="form-group col-md-7">{{ registerForm|crispy }}</div>
            </div>
            
            <div class="btn-group mt-5">
              <input type="radio" class="btn-check" name="gender" id="option1" value="male" autocomplete="off" checked />
              <label class="btn btn-secondary" for="option1">Male</label>
            
              <input type="radio" class="btn-check" name="gender" id="option2" value="female" autocomplete="off" />
              <label class="btn btn-secondary" for="option2">Female</label>
            </div>

            <div class="container">
              <div class="row">
                <div class="col">
                  <div class="form-check">
                    <img src="{% static 'images\avatars\men_avatar_1.png' %}" alt="avatar" width="50" height="50" />
                    <input class="form-check-input" type="radio" name="profile_picture_number" value="1">
                  </div>
                </div>
                <div class="col">
                  <div class="form-check">
                    <img src="{% static 'images\avatars\men_avatar_2.png' %}" alt="avatar" width="50" height="50" />
                    <input class="form-check-input" type="radio" name="profile_picture_number" value="2">
                  </div>
                </div>
                <div class="col">
                  <div class="form-check">
                    <img src="{% static 'images\avatars\men_avatar_3.png' %}" alt="avatar" width="50" height="50" />
                    <input class="form-check-input" type="radio" name="profile_picture_number" value="3">
                  </div>
                </div>
              </div>

              <div class="row mt-4">
                <div class="col">
                  <div class="form-check">
                    <img src="{% static 'images\avatars\women_avatar_1.png' %}" alt="avatar" width="50" height="50" />
                    <input class="form-check-input" type="radio" name="profile_picture_number" value="4">
                  </div>
                </div>
                <div class="col">
                  <div class="form-check">
                    <img src="{% static 'images\avatars\women_avatar_2.png' %}" alt="avatar" width="50" height="50" />
                    <input class="form-check-input" type="radio" name="profile_picture_number" value="5">
                  </div>
                </div>
                <div class="col">
                  <div class="form-check">
                    <img src="{% static 'images\avatars\women_avatar_3.png' %}" alt="avatar" width="50" height="50" />
                    <input class="form-check-input" type="radio" name="profile_picture_number" value="6">
                  </div>
                </div>
              </div>
            </div>

            



            <input
              class="btn btn-outline-primary mt-5"
              type="submit"
              value="Register"
              class="button"
            />
            <div class="row" style="margin-top: 12px; margin-bottom: 10%">
              <a
                href="{% url 'login' %}"
                style="font-size: 16px; text-decoration: none; width: auto"
                >Login <i class="bi bi-person-check-fill"></i
              ></a>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div style="height:100px"></div>

    {% endblock content %}
  </body>
</html>
